.sidepanel {
    z-index: 2;
}

section {
    overflow: hidden;
}


/* 
--- Tab content 
*/
.tabcontent {
    max-width: 100%;
}

.offer .bgc_y {
    height: 100%;
}

.tabcontainer .tabcontent {
    display: none;
}

.tabcontainer .tabcontent.tabcontent_active {
    display: block;
}

/* 
--- Calcuilation 
*/
.calculating .title {
    padding: 0 30px;
}

.calculating__choose {
    flex-wrap: wrap;
}

.calculating__choose_medium {
    justify-content: space-around;
    max-width: 743px;
    width: auto;
}

.calculating__choose_big {
    justify-content: space-around;
    max-width: 930px;
    width: auto;
}

/* 
--- Menu 
*/
section.menu .container {
    flex-wrap: wrap;
    justify-content: space-around;
}

section.menu .container .menu__item {
    margin-top: 15px;
}

/* 
--- Footer 
*/
.footer {
    padding: 45px 30px 50px 30px;
}

/* 
--- Adaptive >///< 
*/
@media (max-width: 1240px) {
    .tabcontainer {
        width: 750px;
        flex-direction: column;
    }

    .bgc_blue {
        height: 1000px;
    }

    .tabcontent__descr {
        right: -30px;
    }

    .offer .container {
        flex-wrap: wrap;
    }

    .offer .container:nth-child(2) {
        justify-content: space-between;
        align-content: space-around;
    }

    .offer .container:nth-child(2) .offer__text {
        margin: 10px auto;
        margin-bottom: 30px;
    }

    .offer .container:nth-child(2) .offer__action {
        margin: 0 auto;
    }

    .offer .container:nth-child(3) .offer__advantages {
        margin: 0 auto;
        width: 70%;
    }

    .offer .container:nth-child(3) .offer__slider {
        margin: 0 auto;
    }
}

@media (max-width: 1090px) {
    .header {
        flex-direction: column;
        padding: 30px 10px;
        height: 190px;
        align-content: space-around;
    }

    .calculating__choose-item {
        margin: 15px 0;
    }

    .order .order__form {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 20px;
    }

    .order .order__input, .order button {
        margin-top: 15px;
    }

    .order .order__form img {
        display: none;
    }
}

@media (max-width: 1270px) {
    section.promotion .bgc_y {
        width: 90%;
        height: 90%;
    }

    section.promotion .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.promotion .promotion__text {
        width: 70%;
    }

    section.promotion .container .promotion__timer {
        margin-top: 30px;
        width: 70%;
    }

    section.promotion .container{
        text-align: center;
    }

    section.promotion .promotion__timer .title {
        text-align: center;
    }

    section.promotion .container .timer {
        padding-left: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    section.promotion .container .timer__block {
        margin-top: 10px;
    }

    section.promotion .container .timer__block {
        min-width: 102px;
    }
}

@media (max-width: 800px) {
    .sidepanel {
        left: auto;
        right: 30px;
    }

    .tabcontent__descr {
        left: 15px;
        top: 10px;
        width: 80%;
        padding: 20px;
        height: auto;
        font-size: 2.5vw;
        line-height: 3vw;
    }

    .tabcontainer {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .header__left-block {
        min-width: 90%;
    }

    .header__links {
        flex-direction: column;
        align-items: end;
    }

    .header__link {
        margin-right: 0;
    }

    .offer__text {
        padding: 0 20px;
    }

    .offer__slider {
        margin-top: 30px !important;
        justify-content: center;
        align-items: center;
    }

    .offer__slider-wrapper {
        width: 80%;
        height: auto;
    }

    .offer__slide {
        height: auto;
    }

    .calculating__total {
        width: 90%;
        text-align: center;
    }
}